# -------------------------------
# Global
# -------------------------------
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Node / Frontend / Static files (si applicable dans "site/")
app/site/node_modules/
app/site/.cache/
app/site/.next/
app/site/dist/
app/site/build/
app/site/.env
app/site/.env.local

# Python / Backend API (si applicable dans "backend/")
app/backend/__pycache__/
app/backend/*.pyc
app/backend/env/
app/backend/.env
app/backend/.venv
app/backend/.pytest_cache/
app/backend/.mypy_cache/
app/backend/.coverage
app/backend/coverage.xml
app/backend/htmlcov/

# AWS credentials (en général, stockés ailleurs mais au cas où)
.aws/

# Visual Studio Code settings
.vscode/

# IDEs / système
.idea/
*.iml
*.sublime-project
*.sublime-workspace
